{% extends "base.html" %}
{% block start %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="col-6">Login</h2>
    <form class="col-6 my-3 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if messages %}
        {{messages.tags}}
        <div class="alert alert-secondary" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" required name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required id="password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <p class="text-center mt-2">Don't have account, go to <a href="/register">Register</a> page</p>
    </form>
</div>

{% endblock %}